[2015-07-11 01:52] PanosSakkos opened #1 "Lorem-ipsumize the content"

[2015-07-15 23:28] PanosSakkos opened #2 "Automate the tag page generation"
Write ruby plug-in and offline script (for the case of GitHub pages hosting) that parses all the unique tags of the posts and generates a post page under /tags directory.

[2015-07-18 13:50] PanosSakkos opened #3 "Comment counter in tag pages dont render"
Need to add in includes/js.html:58 the tag section type.

[2015-07-18 21:53] PanosSakkos commented on #3
Fixed in v1.2.2

[2015-07-18 21:53] #3 closed

[2015-08-21 08:39] handelxh opened #4 "how to change section '"

[2015-08-21 08:41] handelxh opened #5 "how to change section 'about' background ?"
your jekyll theme is so beautiful, i want to use is for my blog. and i want to change the section 'about' background ,how can i do that?

[2015-08-21 09:28] #5 closed

[2015-08-23 09:20] PanosSakkos commented on #5
Hi, thanks for the feedback!

The About section doesn't have a background image. Did you mean the very first picture of the index (a.k.a intro background)?

[2015-08-23 09:21] PanosSakkos commented on #4
Hi again. Can you please describe the issue? Which section do you want to change?

Thanks,
:panos

[2015-08-29 17:20] PanosSakkos opened #6 "Lists don't render correctly."
CSS classes are missing.

[2015-08-29 17:40] #6 closed

[2015-08-29 20:02] PanosSakkos opened #7 "Font size of lists is smaller than the body text."

[2015-08-29 20:47] PanosSakkos opened #8 "Bad rendering of the latest post in index when containing html code."

[2015-08-29 20:48] #7 closed

[2015-08-29 20:48] #8 closed

[2015-08-29 20:49] PanosSakkos commented on #6
You need to manually code the html list in the markdown of the post and add the personal-list CSS class.

[2015-08-29 20:50] PanosSakkos commented on #4
I'm closing this issue. Please open a new one with a detailed description :smile:

[2015-08-29 20:50] #4 closed

[2015-09-28 19:46] #1 closed

[2015-09-28 22:07] PanosSakkos opened #10 "Add email address to _config."

[2015-09-29 23:36] #10 closed

[2015-09-30 21:33] PanosSakkos opened #11 "Add {{baseurl}} to feed.xml"

[2015-09-30 21:35] #11 closed

[2015-09-30 21:59] PanosSakkos opened #12 "Add site.baseurl to share buttons"

[2015-09-30 21:59] #12 closed

[2015-09-30 22:03] PanosSakkos opened #13 "Remove unused CSS classes."

[2015-09-30 22:55] PanosSakkos opened #14 "Make post lists render with text center align by default"
Currently if you want to write a list in your post (ul/ol) you have to use the class personal-list.

[2015-10-02 04:22] joariasl opened #16 "Disqus scripts loading"
Disqus scripts are loading in the index page. It is correct?
I don't see necessary to load this scripts in this page and I recommend exclude insertion in this page. I can add the exclusion.

[2015-10-02 10:06] PanosSakkos commented on #16
Sure, let's fix it! :)

[2015-10-03 18:57] PanosSakkos commented on #16
The code for the disqus comments counter should be in post, blog and tag layouts.

But, the javascript for the comments should be only in the post page, so you are correct! :)

[2015-10-03 18:57] #16 closed

[2015-10-05 19:46] PanosSakkos opened #19 "Add a unit-test framework"
The repo keeps growing, and unit tests will make (us) sleep during night :+1:

Let's track the addition of a unit test framework (+ its documentation) here and then we can track the untested areas under another issue.

[2015-10-05 19:49] PanosSakkos opened #20 "Give credits to contributors within the tutorial posts that describe their feature"
@joariasl contributed the Javascript obfuscation and @prashantsolanki3 added the dynamic intro text.

[2015-10-05 20:03] PanosSakkos opened #21 "Document dynamic typing of intro feature"
Feature was added [here](https://github.com/PanosSakkos/personal-jekyll-theme/pull/18)

[2015-10-05 22:19] PanosSakkos opened #22 "Long intro text when dynamic-text is enabled pushes me-img down"
When the text of the dynamic-typing in the intro is long enough, it pushed the me-img down.

Repro by adding a long text in the dynamic-text texts, and then render in small browser window.

[2015-10-05 22:33] PanosSakkos commented on #21
15dc0453e7935dee443e698549f003f383c32165

[2015-10-05 22:33] #21 closed

[2015-10-05 22:34] PanosSakkos commented on #20
15dc0453e7935dee443e698549f003f383c32165

[2015-10-05 22:34] #20 closed

[2015-10-05 22:35] PanosSakkos opened #23 "Document how to pull changes from the repo to your local website"
It's a pain to pull changes from this repo after you have published your website.

Let's make this experience less frustrating :)

[2015-10-05 23:05] PanosSakkos opened #24 "grayscale.js throws exception"
About google object missing.

This object is not used, and it should be removed.

[2015-10-05 23:06] PanosSakkos commented on #24
d2da3f371fba21c29752615202e9eed87a043f90

[2015-10-05 23:06] #24 closed

[2015-10-05 23:19] PanosSakkos opened #25 "Add html-proof in travis build"
http://jekyllrb.com/docs/continuous-integration/

[2015-10-06 04:57] joariasl commented on #23
1. First add remote repository if this is not added and working with the master branch:
$ `git remote add panos https://github.com/PanosSakkos/personal-jekyll-theme.git`
$ `git checkout master`
(panos name is added by the origin is other primary repository)

2. Pull request with rebase for not create a new commit:
$ `git pull --rebase panos master`
or (is equals)
$ `git fetch panos`
$ `git rebase

[2015-10-06 05:09] joariasl commented on #23
Best use "upstream" name for original repository instead of panos. :P

[2015-10-06 15:14] PanosSakkos commented on #23
But the idea is to document it (or provide a script) for users who have already forked a past checkpoint and they have added their own content.

For example, imagine the following scenario:

  Imagine Alice, who forked { Personal } one month ago.
  She replaced the content with hers, and she already has published posts, has her own _config.yml etc.

The goal is to make it very easy for Alice to in

[2015-10-06 16:11] PanosSakkos commented on #25
40c76eb12ae070eff3f3e5604092d468ae846042

[2015-10-06 16:11] #25 closed

[2015-10-06 16:12] PanosSakkos commented on #19
Unit tests can be written against htmlproofer 40c76eb12ae070eff3f3e5604092d468ae846042

[2015-10-06 16:12] #19 closed

[2015-10-06 18:09] PanosSakkos commented on #23
Added this guy 2d18f0ad3eccb21c04397268d0c7d2542c5cffcc and used it to integrate the latest changes into my website and it worked.

The only caveat is that if there are you miss the site config changes, because this file contains user's data, plus (probably) new configuration features.
So when you actually use this script, you need to run a diff between the two site configs, and then migrate manua

[2015-10-06 18:27] PanosSakkos commented on #23
Added the documentation [here](https://github.com/PanosSakkos/personal-jekyll-theme/wiki/How-to-integrate-latest-bug-fixes-and-features-into-your-past-fork).

Feel free to give me feedback on the steps from a user's perspective ;)

[2015-10-06 18:27] #23 closed

[2015-10-06 19:32] joariasl commented on #23
I make the gh-pages branch and modify this with my personal configuration. When I modify the main features I change to master branch and merge to gh-pages.
So I keep a clean code and I send a pull request.

[2015-10-07 15:57] PanosSakkos commented on #23
Sure, but you are doing this in order to contribute to the { Personal } repository.

My purpose was to help users who have downloaded { Personal } and put it in a different X.github.io repository (i.e.), and they want to pull the latest changes from the official { Personal } repository ;)

[2015-10-07 18:29] PanosSakkos commented on #14
9024728953f61b225f5c6d9f1f2456ae71609655

[2015-10-07 18:29] #14 closed

[2015-10-07 21:20] PanosSakkos commented on #2
5ce2f215334da403333e6fc2cbf336af4d79d190

[2015-10-07 21:20] #2 closed

[2015-10-07 23:06] #22 closed

[2015-10-08 15:59] eiselems opened #26 "Invalid Social Links"
Generated links are incorrect.
They link to {{site.baseurl}}{{network.url}} resulting in links like http://mypage.com/http://facebook.com.

Instead they should link directly to {{network.url}}.

[2015-10-08 16:13] #26 closed

[2015-10-11 16:45] veswill3 opened #28 "remove highlight for clicked item in navbar"
Cool theme. While I was browsing around the live demo I noticed that the navbar will highlight an option when it should not.
To reproduce, click on one of the options to scroll to that section, and then manually scroll back up some. Instead of the currently visible section being the only highlighted option, both stay highlighted.

[2015-10-11 19:21] PanosSakkos commented on #28
If I'm not wrong, this is the original's grayscale behavior:

http://ironsummitmedia.github.io/startbootstrap-grayscale/

When you scroll through the sections, the navbar highlights the section you are currently viewing.

[2015-10-11 19:36] veswill3 commented on #28
It does that as expected but you can end up in a situation where 2 are highlighted at the same time by clicking on one and then scrolling to a different one. The only you clicked will stay lighter and the one you scroll to will activate and highlight as well. If you just grabbed this from somewhere else it may not be your mistake.

[2015-10-11 20:10] PanosSakkos commented on #28
Yes, the repo that I forked was a mashup of grayscale and agency theme's.

I see what you mean now, I think grayscale theme has a fix for this. I will give it a try to integrate it :)

Thanks!

[2015-10-11 21:46] PanosSakkos commented on #28
I was able to repro it on http://panossakkos.github.io/personal-jekyll-theme/ and not in http://ironsummitmedia.github.io/startbootstrap-grayscale.

I will have a look at the grayscale css and fix it. Thanks for reporting it! :+1:

[2015-10-15 00:14] joariasl commented on #28
This occur why in the line grayscale.scss:115 the backgounud highligh including to :focus pseudo-class. It is when the object is selected, if you unselect this item this remove the background.
An posible solution is replace this for:
[code]

[2015-10-15 00:35] joariasl commented on #28
Other option (Perhaps the best, since it is due to this behavior) is add the line, :
[code]
in the file grayscale.js after to line 19.

[2015-10-15 06:55] joariasl commented on #28
In grayscale theme have removed the :focus style. The problem is that this method not indicate the selected item with tab navigation, because :focus selection not have style.
I applied a fix using javascript for focus out after the transition scrolling is ended.

[2015-10-16 17:10] #28 closed

[2015-10-17 05:28] veswill3 commented on #28
Awesome. Thanks @PanosSakkos and @joariasl

[2015-10-21 08:56] PanosSakkos commented on #13
@joariasl I think that if we filter the unused CSS classed of bootstrap, instead of retrieving the whole library from CDN, then we will have a better performance gain. Are you interested in investigating this? :smile: I had a look at it in the past, and it seems like it's very easy to filter out all the bootstrap classes that your website is not using.

[2015-10-21 09:08] joariasl commented on #13
Performance is increase, this increases the positioning of sites on search engines.
Using CDN currently makes the cache for common resources between sites is used, it is a good option for now.
I will review it when I have time.
Regards.
A link: http://getbootstrap.com/getting-started/#grunt-commands

[2015-10-21 09:37] PanosSakkos commented on #13
I agree, but this is an assumption until we actually do a perf test! :smile:

As they say, "You don't know performance until you measure it" :wink:

[2015-10-23 11:23] PanosSakkos opened #30 "[CSS] Navigation bar items are out of reach when in extreme zoom"
![Repro](https://dl.dropboxusercontent.com/u/8522559/personal-jekyll-theme/bugs/bug.PNG)

When zoomed in a lot (i.e. 675%) from a desktop browser, the items in the navigation bar are not accessible in the lower part of the list.

Should the navigation list for mobile be scrollable?

@joariasl CSS champion, any ideas/inputs on this? :smile:

[2015-10-23 13:27] elicec0 opened #31 "why i set the “post-preview-words” it don't work，always show the whole post"
why i  set the “post-preview-words” it don't work，always show the whole post

[2015-10-23 14:51] PanosSakkos commented on #31
Hi,

The post preview's size is defined in _config.yml by the variable

[code]

If your post is less thatn 96 words, then yes it's expected to render whole.
But you can always reduce the post-preview-words value.

[2015-10-23 18:58] PanosSakkos commented on #31
Also not that if you are serving the website locally (not i.e on GitHub Pages), then eachtime you modify the _config.yml you have to kill (Ctr + C) the serving and start it again.

I'm closing this issue and in case that I have misunderstood your case feel free to open it again and elaborate or give a repro :smile:

[2015-10-26 02:00] joariasl commented on #30
A posible solution is add this rules for .navbar-custom in CSS:
[code]

I will finish best when I have time.

[2015-10-26 11:16] PanosSakkos commented on #30
Great! I will try to hook this code, but I'm not promising anything since I'm a CSS noob :smile:

[2015-10-26 12:12] PanosSakkos commented on #30
I tried it on my github.io website and it seems like it's working! :smile:

I will let you open the pull request in order to get the credits (no rush! :smile: ) :wink:

[2015-10-26 21:07] #30 closed

[2015-10-29 16:58] altsheets opened #33 "Deprecation: jekyll-paginate will be retired from Jekyll 3"
Thanks a lot for your great theme!
A small issue:

    gem install jekyll-paginate
    jekyll serve

    Configuration file: /var/www/.../personal-jekyll-theme/_config.yml
           Deprecation: You appear to have pagination turned on,
           but you haven't included the `jekyll-paginate` gem.
           Ensure you have `gems: [jekyll-paginate]` in your configuration file.

I found this:

[2015-10-31 03:27] elicec0 commented on #31
my sample website elicec0.github.io。

[2015-10-31 05:30] jose-zama opened #34 "Multiple pagination links"
Hello,

There is a tiny bug with pagination.

**Issue**: When having more than 2 pages, the pagination shows two "newer posts" links and two "older posts" links.

![badpagination](https://cloud.githubusercontent.com/assets/10884160/10862063/cedbee56-7f5e-11e5-8b82-d937aa89591a.png)

**Proposed Solution**: Update pagination.html to:

[code]

[2015-10-31 07:10] jose-zama opened #36 "Make images reponsive"
Hello,

This is more a suggestion than a bug.

Currently, I am adding images into my posts through markdown syntax and this theme does not resize the images if opened in a mobile browser. I think Jekyll has responsive images by default. Here the comparison:

**No responsive images**

![imagesnotresponsive](https://cloud.githubusercontent.com/assets/10884160/10862376/d469988a-7f6a-11e5-974d-a00435b

[2015-10-31 15:55] PanosSakkos commented on #31
Thanks, I will have a look soon in order to see if it's a repro or not :)

[2015-10-31 19:44] PanosSakkos opened #37 "Support Android web app mode"
https://developer.chrome.com/multidevice/android/installtohomescreen

[2015-10-31 23:13] PanosSakkos commented on #33
You 're welcome!

I noticed it as well, and I'm trying to fix it asap :disappointed:

[2015-10-31 23:52] #33 closed

[2015-10-31 23:56] #34 closed

[2015-11-01 00:04] PanosSakkos commented on #36
Awesome! It was on my list the early days, but I didn't take a note of it and of course I forgot it :smile:

Was fixed by your pull request 07bb6ad5aad597815b29dc58027f2e049266aeb6

[2015-11-01 00:04] #36 closed

[2015-11-01 00:05] PanosSakkos commented on #34
That's a regression! Well spotted! :smile:

[2015-11-01 00:53] PanosSakkos commented on #31
I can't reproduce it on the head of the personal-jekyll-theme repository. I have two suspicions, either you forked the repository during a regression, or liquid is acting weird with Chinese characters.

But, I believe that the first is more probable :smile:
So, my suggestion is to run follow [this](https://github.com/PanosSakkos/personal-jekyll-theme/wiki/How-to-integrate-latest-bug-fixes-and-feat

[2015-11-01 00:53] #31 closed

[2015-11-01 01:04] PanosSakkos opened #38 "Add LinkedIn share button"

[2015-11-01 15:26] PanosSakkos commented on #37
And cache the blog posts maybe?

http://docs.webplatform.org/wiki/apis/appcache/ApplicationCache

That would be cool.. :smile:

[2015-11-02 00:36] PanosSakkos opened #39 "Navigate posts by swiping left and right"

[2015-11-02 00:40] elicec0 commented on #31
i will try ，thank you very much~~~

[2015-11-02 11:15] PanosSakkos opened #40 "Sections are displayed sorted on title"
Reported by @chipset95 .

[2015-11-03 15:30] altsheets opened #41 "List of social buttons?"
The post https://github.com/PanosSakkos/personal-jekyll-theme/blob/master/_posts/2015-06-11-social-buttons-tutorial.md says "just try them out".

Perhaps there is a list somewhere?

And how to extend them, to include more?

I would like additional buttons for
* bitcointalk.org
* startpeeps.com
* Diaspora
* nxtforum.org

Thanks!

[2015-11-03 21:17] njaremko opened #42 "Suggest inlining grayscale.js"
I propose inlining a minified grayscale.js into the js.html in _includes to remove an unnecessary roundtrip to the server for a 500 byte file. Thoughts?

Replacing:
[code]

With:
[code]

[2015-11-03 21:31] PanosSakkos commented on #42
Sounds great!

[2015-11-03 21:39] njaremko commented on #38
But a linkedin share button is already possible with
- title: "linkedin"<br>
url: "https://ca.linkedin.com/in/your-username"

Are you just including it by default now?

[2015-11-03 21:58] PanosSakkos commented on #38
I meant share button for the posts :wink:

[2015-11-04 14:10] PanosSakkos commented on #13
@njaremko Any feedback on this enhancement?

[2015-11-04 15:36] njaremko commented on #13
Couldn't we just use this?
http://getbootstrap.com/customize/

Github puts all assets for Github Pages sites onto their CDN, so no need to worry about the lack of CDN.

[2015-11-04 16:50] PanosSakkos commented on #13
Nice, I will have a look on the link.

I'm concerned about what is more efficient:

1) Fetching the whole bootstrap from a CDN (probably)
or
2) Minimize the library in order to get a file with only the needed classes

Of course this cannot be answered without an investigation but this issue is low priority so I keep deprioritizing :cry:

[2015-11-04 17:51] altsheets commented on #13
Very good idea.

Not only because of performance, but also ... I actually had a bit of a hard time trying to figure out which style does what.
Are really all styles in grayscale.scss being used? (Perhaps some comments in the CSS might help?)

Perhaps I am simply not using the fanciest design tools yet. Is there a way to figure out which CSS classes get applied to an element, e.g. by pointing to it

[2015-11-04 18:27] njaremko commented on #13
@PanosSakkos We don't need to worry about our customized version not being on a CDN. Github puts all page assets on their Fastly CDN.

[2015-11-05 10:26] chipset95 commented on #41
The social links follow the naming convention in [Font Awesome icon gallery](https://fortawesome.github.io/Font-Awesome/icons/)

e.g. If you want to add the bitcoin icon in the social buttons, the following code snippets will help

**_config.yml**
[code]

I've noticed that this will try to find the class "fa fa-btc" in font awesome css and render the appropriate icon. Unfortunately, not all icons

[2015-11-05 10:47] chipset95 commented on #38
Added in #43

@PanosSakkos Please have a look

[2015-11-05 10:57] PanosSakkos commented on #38
@chipset95 That's great! :smile:

P.S.: I'm at the office right now and later I'm flying abroad for the weekend, so I will manage to review it on Sunday afternoon (GMT +1 is my TZ)

Thanks for the initiative!

[2015-11-05 11:00] PanosSakkos commented on #41
@chipset95 That's correct :smile:

I will update the documentation post when time permits (or feel free to chip in :wink: )

[2015-11-05 15:23] altsheets commented on #41
Ahhhh. Great. That helped.

For the time being, I just use other icons, until the real ones become part of FA.

Thanks a lot!

[2015-11-05 16:18] PanosSakkos commented on #41
I'm re-opening the issue because it should be part of the documentation :wink:

[2015-11-07 00:54] altsheets opened #46 "remote images for timeline - suggestion/workaround"
I am allowing external images in my timeline, then {{site.baseurl}} must not be prepended. My workaround is not the most elegant (that would be testing the variable "image" for "http(s)://") ... but it works. For remote images, I define a {{event.imageremote}} in [_config.yml](https://github.com/PanosSakkos/personal-jekyll-theme/blob/master/_config.yml#L70-L71)

    events:
      - image: "https:/

[2015-11-07 15:29] altsheets opened #48 "writable area decreases when window 1199px --> 1200px (workaround provided)"
for some reason, the writable area

    .content-section .row .(col-lg-8 col-lg-offset-2)

decreases(!) from 970px width to 780px width
when the window size *increases* from 1199px to 1200px.

Not sure why (I am not an experienced CSS designer),
but this workaround fixed it for me:

    @media(min-width:1200px){
    	.content-section .col-lg-8 {
    	    width:970px;
    		margin-left:100px;

[2015-11-07 18:02] chipset95 commented on #41
I'll update the post soon.

[2015-11-08 13:57] woosley opened #49 "Not centering blog post text?"
Hello!
I am just wondering is there any good reason to center the blog post text? which seems not a good way to display an "article". is it possible to make text in blog posts left aligned by default?

[2015-11-08 14:58] njaremko commented on #49
It's centred to fit with the theme of the site. If you want to have it left justified, just go into the blog file in the layouts folder, and change:
[code]
<section id="{{ page.title }}" class="container content-section text-left">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          {% include social-buttons.html %}
        </div>
      </div>
    </section>
[code]

[2015-11-08 19:08] PanosSakkos commented on #49
@woosley It was like this in the original [repo](https://github.com/kirbyt/timeline-jekyll-theme) that I forked and I just liked it like, no other specific reason :smile:

Feel free to make is as you like in your local repo by following @njaremko 's direction :wink:

[2015-11-08 19:08] #49 closed

[2015-11-08 19:16] PanosSakkos commented on #48
Hmm I'm sorry but I don't get what you mean by "writeable area".

Can you please post screenshot/s to reproduce it?

I'm asking because we should understand the issue in order to fix it :wink:

[2015-11-08 19:20] PanosSakkos commented on #46
I see, but I really believe that the images should be local, because if for example the remote image suddenly changes it can mess up your website, if for example is not a square :wink:

Avoid taking dependencies, as always :wink:

Thanks for the feedback!
I had no idea that the repo would be used by so many people, and that's great!
Let's make the web a better place :wink:

[2015-11-08 19:20] #46 closed

[2015-11-08 20:34] PanosSakkos opened #50 "Add syntax highlight"
http://jekyllrb.com/docs/templates/#code-snippet-highlighting

[2015-11-08 21:39] altsheets commented on #46
Thanks a lot! Yes, I get your point. Still, I want to link to external content. And already built that extension described above, anyways.

Yes. Before I started, I compared a lot of different themes. And yours was closest to what I wanted to build. And beautiful, too.

Here, have a look: My new website is launched - http://altsheets.ddns.net/assetgraphs/v2/products/ - using your theme as the basi

[2015-11-08 21:41] altsheets commented on #48
The area that the text is rendered into.
It gets *smaller* when the whole window gets *larger*.

Sure, no problem. Here:
http://i.imgur.com/YoVGbRR.png

Hope that helps :-)

P.S.: Using your theme as the basis for my new website (https://github.com/PanosSakkos/personal-jekyll-theme/issues/46#issuecomment-154876313). Thanks a lot :-)

[2015-11-09 02:18] #42 closed

[2015-11-09 09:00] #38 closed

[2015-11-09 11:54] chipset95 commented on #38
This was fun :)

[2015-11-09 19:02] PanosSakkos commented on #40
@chipset95 actually I had a look at the code and the sections are hardcoded, and the navigation bar is not sorted on section tile (I fixed that actually after I forked the timeline repository).

So if someone wants to change the order of the section, he/she has to edit the includes/index.html, which is reasonable given that this the intention is by definition a hard change in the theme :smile:

I'

[2015-11-09 19:07] chipset95 commented on #40
I didn't get it. There is no index.html in includes. Also, where are the sections being hardcoded?

[2015-11-09 19:08] #41 closed

[2015-11-09 19:15] PanosSakkos commented on #40
My bad, it's the index.html layout :smile:

[2015-11-09 19:19] PanosSakkos commented on #46
The credits are totally fine like this, don't worry :wink:

[2015-11-09 19:21] PanosSakkos commented on #48
Oh I see what you mean..
I'm also new to CSS and I have no idea why this is happening.. But it's great that you have a fix! :smile:

Our CSS champion is @joariasl by the way. @joariasl any ideas why this is happening? :sweat:

@altsheets Can you please open a pull request with your suggestion in order to test it and merge it with the repo? :wink:

P.S.: Your website looks great! :wink:

[2015-11-09 19:27] joariasl commented on #48
This week I think that I have more free time. It is easy to fix. I will take a time to implement other improvements.

[2015-11-09 19:29] PanosSakkos commented on #48
@altsheets that's why we call him the CSS champion of the repo! :stuck_out_tongue_winking_eye: :clap:

[2015-11-09 19:33] chipset95 commented on #40
I've tried changing the order in `_layouts/index.html` But the order remain to be About, Blog, Career, Contact.

Just tried it again.

[2015-11-09 19:52] PanosSakkos commented on #40
You mean that the order in the navigation bard remained the same?

The navigation bar is ordered based on the order that the list in the _config.yml is declared.

[2015-11-09 20:30] altsheets commented on #48
Nice. Happy to hear.

Not sure that is necessary.
All that needs to be added is up there in the OP.

---

Ah ... another good idea, to operationalize this, and to keep it clean.

1) add two more css files, call them
* personal.css, and
* user.css

2) load both by default from the html. (BELOW ... link href="grayscale.css and timeline.css )

3)
put all your "personal-jekyll-theme" CSS changes into

[2015-11-10 02:57] chipset95 commented on #40
I'm able to change the order in the navigation bar from _config.yml, but I want to change the order in index.html to match the order in navigation bar.

I have this in index.html under layouts right now

[code]

And the result of this can be seen [here](http://chispet95.github.io)

[2015-11-10 16:42] PanosSakkos commented on #40
I see. Yes it makes sense, given that they are being rendered based on the order that they exist in the site.pages.

We should be smarter, I think we should iterate over the navigation items, given that each section should anyway be listed in the navigation bar :smile:

Re-opening the issue as a bug.

[2015-11-10 22:10] joariasl commented on #40
Exists a problem obtain each page if not use `{% for page in site.pages %}`
I intent obtain the _include file using:
[code]
But I do not know as obtain the specific content for the page (for example in about.html in the root path).

The Blogs item is different to the file name, because I added an exeption:
[code]

I don't know many YAML. ¿Any idea for solve this?

[2015-11-11 06:10] joariasl commented on #13
I applied a complete refactor for grayscale.scss. I removed the definitions of original Grayscale theme that are not used in { Personal } theme.

[2015-11-11 07:24] joariasl commented on #13
Style color is now configurable:

For example, to emulate @chipset95 theme configure this:

_config.yml:
[code]

_sass/_variables.scss:
[code]

[2015-11-11 09:23] PanosSakkos commented on #13
@joariasl Great initiative! Usability++! :smiley: :+1: :+1:

[2015-11-11 10:04] chipset95 commented on #13
I actually did not provide any background image, wrote new sass variables using [Material Pallete](http://www.materialpalette.com/) and used them in `grayscale.scss`, nothing very fancy! :stuck_out_tongue_winking_eye:

[2015-11-12 04:02] joariasl opened #57 "Bad generation of ID in Post pages"
In the files:
* post.html
* lastest-post.html
, the line:
[code]
generate a not correctly id in the HTML element. This like losing semantic for search engines and is an error.

The ID format for HTML element with more of one word is (For convention in lowercase): `word1-word2-word3`
 Image with the actual result:
![id_problem](https://cloud.githubusercontent.com/assets/8829064/11110233/15ca3cdc-88

[2015-11-12 19:33] PanosSakkos opened #58 "List contributors"
@njaremko @Zovfreullia @eiselems @chipset95 @prashantsolanki3 @jose-zama @joariasl

Please add your names in the contributors files, in alphabetical order based on the first name :wink:

https://github.com/PanosSakkos/personal-jekyll-theme/blob/master/CONTRIBUTORS

[2015-11-13 05:22] joariasl commented on #40
Fixed in my latest pull request with:
[code]

[2015-11-13 05:31] joariasl commented on #39
You have an example of interface?

[2015-11-13 07:28] PanosSakkos commented on #39
No, this is just an idea that I would like to explore :wink:

In small screens it would be cool to be able to navigate back and forth the posts by swiping left and right :smile:

[2015-11-13 11:15] PanosSakkos commented on #57
Great catch! :wink: :+1:

[2015-11-13 12:08] joariasl commented on #57
Is fixed in my pull request #56.

[2015-11-13 13:00] PanosSakkos commented on #57
I noticed it, I will continue the PL tonight or tomorrow :smile:

[2015-11-13 16:48] joariasl commented on #57
I finished my contribution for now. :smille:

[2015-11-13 20:14] PanosSakkos opened #63 "Blog navigation item should always point to the first page of the archive"
Currently it points to the section of the current archive page

[2015-11-13 20:49] joariasl commented on #63
In the pages that are != index.html?

[2015-11-14 01:26] #13 closed

[2015-11-14 01:26] #40 closed

[2015-11-14 01:26] #57 closed

[2015-11-14 01:26] #63 closed

[2015-11-14 01:54] PanosSakkos commented on #48
Fixed here commit/004cf1f53e341b68ab9d80f11b290f2249ce34fe

[2015-11-14 01:54] #48 closed

[2015-11-14 02:40] PanosSakkos opened #64 "Go through the documentation posts to see if they are up to date"

[2015-11-14 02:57] altsheets commented on #48
ah, that makes sense.

I had actually already suspected s.th. like that,
but I had not fully understood the underlying CSS.

Cool. Thanks a lot

[2015-11-14 03:04] altsheets commented on #48
and what about the idea to leave the original

    grayscale.scss
    Grayscale Bootstrap Theme (http://startbootstrap.com)

untouched, and just *override* it with a (later-loaded)

    personal-jekyll-theme.css

in which all the local changes are kept together?

See the 2nd part of https://github.com/PanosSakkos/personal-jekyll-theme/issues/48#issuecomment-155183980

For now, it might be a bit of

[2015-11-14 03:08] joariasl commented on #48
The original grayscale style contains any bugs not corrected.
I created a pull request for this project, but the project is apparently abandoned.
https://github.com/IronSummitMedia/startbootstrap-grayscale/pull/27

Another person saw the same errors:
https://github.com/IronSummitMedia/startbootstrap-grayscale/pull/18

[2015-11-14 04:03] PanosSakkos opened #65 "Change Copyright to Creative Commons"

[2015-11-14 04:13] joariasl opened #66 "Create SEO XML or text file for indexation in search engines"
https://support.google.com/webmasters/answer/183668

[2015-11-14 04:17] PanosSakkos commented on #66
Great suggestion, let's take it in the milestone :smile:

[2015-11-14 12:21] altsheets commented on #65
Take care of the old users, who rely on MIT. Perhaps branches are a way to go.

[This project](https://github.com/etherparty/explorer) for example has decided to switch from MIT to GPL, and they decided to leave their old v0.1.0 code as a "[MIT branch](https://github.com/etherparty/explorer/tree/MIT)".

HTH :-)

[2015-11-14 14:52] njaremko commented on #65
Is there a reason why we're changing licenses?

[2015-11-14 15:59] PanosSakkos commented on #65
I just thought that CC is more suitable. If it makes things complicated we can just drop it :sweat_smile:

[2015-11-14 16:32] #65 closed

[2015-11-14 20:00] #39 closed

[2015-11-15 09:14] chipset95 opened #70 "Emoji Support"
Options available:
- [Twemoji](http://blog.farrant.me/adding-emoji-support-to-any-website/)
- [Twemoji Awesome](http://ellekasai.github.io/twemoji-awesome/)
- [Emojione](http://emojione.com/)

@PanosSakkos I guess this won't be a milestone 4 feature? Also, add the appropriate labels please. :smile:

[2015-11-15 17:25] PanosSakkos commented on #70
We have plenty of time until xmas, so let's take it in! :wink:

[2015-11-15 18:02] chipset95 commented on #70
Cool :)

[2015-11-15 18:31] PanosSakkos opened #72 "Replace javascript redirection to https with html"

[2015-11-15 19:30] PanosSakkos opened #75 "Show instructions for gesture navigation"
Show a tooltip describing the swipe navigation feature in the first visit of the archive and post pages and automatically fade it away.

[2015-11-16 01:54] PanosSakkos opened #78 "Blog nav bar item in first archive page should scroll to section"
While in first page of archive, the Blog nav bar item should scroll in the section instead of reloading the page.

[2015-11-16 09:03] joariasl commented on #72
if the exception is maintained for localhost it will not be possible.

[2015-11-16 09:15] joariasl commented on #66
This will help: http://davidensinger.com/2013/03/generating-a-sitemap-in-jekyll-without-a-plugin/

[2015-11-16 09:19] PanosSakkos commented on #72
But we can use a Liquid condition, like we are doing currently with the javascript approach, right?

[2015-11-16 09:22] joariasl commented on #72
Exact. If siteurl is localhost or 127.0.0.1 ignore this.

[2015-11-16 23:34] PanosSakkos opened #80 "Text in post and archive pages cannot be marked"
This is a regression due to the gesture swiping feature.

[2015-11-17 19:24] PanosSakkos opened #81 "Close navbar when navbar-brand is clicked"

[2015-11-17 19:38] PanosSakkos commented on #72
Now I got what you meant.
In built time we don't know what is the current url, of course :smile:

I propose to leave the redirection as it is now, because it's a hack but it's the most transparent way for the user to use.

[2015-11-17 20:38] #72 closed

[2015-11-17 21:08] joariasl commented on #72
The HTML tag redirecton is not possible. Because the site would to fail in an infinite cycle, being that a static redirection and this not detect the use or not of HTTPS protocol.

[2015-11-17 21:08] PanosSakkos commented on #72
Yes :) :+1:

[2015-11-17 21:31] PanosSakkos opened #82 "Add offset to archive post list"
ol-lg-offset-2 instead of ol-lg-offset-1

[2015-11-17 21:32] #82 closed

[2015-11-17 21:51] le4ker opened #83 "Remove section of social buttons and include them under existing sections"
There is a big gap in blog, post, tag and 404 pages because social buttons were moved under a new section.

[2015-11-17 21:55] #83 closed, assigned to nobody

[2015-11-17 22:05] PanosSakkos opened #84 "Fix width of github buttons in about section of demo website"

[2015-11-17 22:06] #84 closed

[2015-11-17 23:04] PanosSakkos opened #85 "VKontakte share button is broken under https"
The button is trying to load a script under http.

[2015-11-17 23:04] #85 closed

[2015-11-18 00:59] PanosSakkos commented on #80
ba0d71b330df5ddaef929eef8831382429c7d9b0

[2015-11-18 00:59] PanosSakkos commented on #78
ba0d71b330df5ddaef929eef8831382429c7d9b0

[2015-11-18 00:59] #78 closed

[2015-11-18 15:37] chipset95 commented on #80
It's working for me both on PC and phone

[2015-11-19 15:35] PanosSakkos commented on #37
I see. Cool, the we juat need a manifest and an image :)

I did it [here](https://github.com/PanosSakkos/one-passwords/blob/gh-pages/manifest.json), nut I think an image with the highest resolution is enought, we don't need all of them, right?

[2015-11-19 15:36] PanosSakkos commented on #37
I will fix the issue tonight btw

[2015-11-19 16:25] PanosSakkos commented on #81
I'm on it. I will try to fix it with jquery

[2015-11-19 16:44] PanosSakkos commented on #58
@Zovfreullia you are the last one missing and I didn't find on Github your name and your email. I'm closing the issue and feel free to add your name if you want :smile:

[2015-11-19 16:44] #58 closed

[2015-11-19 16:45] PanosSakkos commented on #37
I'm on it.

[2015-11-19 18:04] PanosSakkos opened #88 "Support iOS web app mode"
https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html

[2015-11-19 18:06] #37 closed

[2015-11-19 19:13] #81 closed

[2015-11-19 20:34] PanosSakkos opened #90 "Center images in posts"

[2015-11-19 20:54] joariasl commented on #90
I working in this...

[2015-11-19 20:54] PanosSakkos commented on #90
:+1: :smile:

[2015-11-19 21:27] PanosSakkos commented on #50
I'm working on it

[2015-11-19 22:55] #50 closed

[2015-11-19 23:00] #90 closed

[2015-11-19 23:37] PanosSakkos opened #92 "Move Pinterest share button before Google+"

[2015-11-19 23:39] #92 closed

[2015-11-20 01:29] PanosSakkos opened #93 "Make text in lists same as normal text"

[2015-11-20 01:30] #93 closed

[2015-11-20 01:41] PanosSakkos opened #94 "Remove padding from facebook share button"

[2015-11-20 01:41] #94 closed

[2015-11-20 01:57] PanosSakkos opened #95 "navbar-brand should redirect to / instead of /index.html"

[2015-11-20 01:58] #95 closed

[2015-11-20 02:22] #70 closed

[2015-11-20 11:16] PanosSakkos opened #96 "Make post listing in medium screens to render as in large screens"
Just like it renders in lg screens.

Affected layouts are blog and tag

![repro](https://dl.dropboxusercontent.com/u/8522559/personal-jekyll-theme/bugs/md.PNG)

[2015-11-20 15:24] #80 closed

[2015-11-20 15:25] #96 closed

[2015-11-20 16:46] #88 closed

[2015-11-21 00:40] PanosSakkos commented on #75
I have a prototype in [this](https://github.com/PanosSakkos/personal-jekyll-theme/tree/testing-tooltip) branch.

[2015-11-21 00:42] PanosSakkos commented on #75
And its live demo is [here](https://panossakkos.github.io/personal-jekyll-theme-beta-testing)

[2015-11-21 01:25] PanosSakkos opened #97 "Add col-md-10 to blog and tag layouts"

[2015-11-21 01:25] PanosSakkos commented on #97
I'm on it :smile:

[2015-11-21 01:26] #97 closed

[2015-11-21 10:16] eiselems commented on #64
I think the this would be a good opportunity to add some details about the intended usage of the integration script.

[2015-11-21 12:00] chipset95 opened #98 "Incorrect start_url"
`start_url` in `manifest.json` inside `_site` if empty is `baseurl` is kept empty in `_config.yml`

Suggestion for fix:

Change `"start_url": "{{site.baseurl}}"` to `"start_url": "{{site.url}}{{site.baseurl}}"`

[2015-11-21 15:30] PanosSakkos commented on #64
Yes, I plan to document our version numbers an explain when the integration is broken :smile:

Because lately there have been very heavy changes, so an old fork is impossible to integrate with the repo's :disappointed_relieved:

[2015-11-21 15:32] PanosSakkos commented on #98
I saw that bug yesterday after I integrated the changes into my website, which doesn't have a baseurl :confused:

Your change seems correct, but I have to test it on my Android, so I will do it later tonight, because I left it home :yum:

Good catch! :smile:

[2015-11-21 15:38] #98 closed

[2015-11-21 16:15] chipset95 opened #100 "Disable GA and Disqus when served locally"
Its better if Google Analytics and Disqus are disabled when the the site is served locally. Otherwise it messes with the analytics and disqus creates multiple threads which become difficult to merge later.

Jekyll maintains an environment variable which can be accessed useking `jekyll.environment` and has the value `production` when deployed on github and `development` when run locally. This can b

[2015-11-21 16:22] PanosSakkos opened #102 "Decide on offset when listing posts"
Let's vote on the offset that we want when listing posts on archive and tag layouts.

#Offset 1

![offset1](https://dl.dropboxusercontent.com/u/8522559/personal-jekyll-theme/bugs/offset1.png)

#Offset 2

![offset1](https://dl.dropboxusercontent.com/u/8522559/personal-jekyll-theme/bugs/offset2.png)

[2015-11-21 16:23] chipset95 commented on #102
Offset 1

[2015-11-21 16:28] joariasl commented on #102
I think that offset 2 is much. I prefer 1.

[2015-11-21 16:29] PanosSakkos commented on #102
Offset 1

[2015-11-21 19:06] PanosSakkos commented on #102
@njaremko voted for offset 1 on gitter.

Offset 1 it is then :smile: I will track it under a new issue.

[2015-11-21 19:06] #102 closed

[2015-11-21 19:07] PanosSakkos opened #103 "Make post listing div's offset 1"
In the blog and and tag layouts.

[2015-11-21 19:07] PanosSakkos commented on #66
@joariasl Don't forget to comment on the issues that you are working on, in order to avoid duplicate work :wink:

[2015-11-21 19:40] joariasl commented on #66
Completed! I create a PL some

[2015-11-21 21:00] PanosSakkos opened #104 "Add site.config toggle for the emoji feature"
And have it turned off by default. i.e.

emoji: False

Part of this change should be the instructions in the 'writing posts" documentation post with how to install the jemoji dependency and how to enable the feature.

[2015-11-21 21:41] #104 closed

[2015-11-21 21:43] PanosSakkos opened #105 "Include manifest.json in the integration script"

[2015-11-21 21:54] #105 closed

[2015-11-21 22:50] #66 closed

[2015-11-21 22:51] PanosSakkos opened #107 "Add sitemap.xml in the integration script"

[2015-11-21 22:53] #107 closed

[2015-11-21 22:57] PanosSakkos opened #108 "Rename site.config.career-img to site.config.timeline-img"
And rename the files and directories in demo website.

[2015-11-21 23:03] PanosSakkos commented on #108
Fixed in 0680318dd6ed06c1fac41af88fa59a48b7d90a7c

[2015-11-21 23:03] #108 closed

[2015-11-22 01:01] #103 closed

[2015-11-22 01:12] PanosSakkos opened #109 "Reduce padding of pre elements"

[2015-11-22 01:13] #109 closed

[2015-11-22 03:30] chipset95 opened #111 "Use uniform share buttons"
As discussed on gitter, I'll be trying new consistent looking share buttons on my page before sending a PR here. Here are a few options:

[Shareaholic](http://sharebuttons.com/)
[RRSSB](https://github.com/kni-labs/rrssb)
[Share for Bootstrap](http://lipis.github.io/bootstrap-social/)

I like RRSSB the most.

[2015-11-22 04:11] PanosSakkos opened #112 "Blog nav bar item of first archive page should scroll to section"

[2015-11-22 04:12] #112 closed

[2015-11-22 04:34] joariasl commented on #100
Now I know the commits by @chipset95. If GitHub run this how production, then it is good.
But is necessary remember this to them, some build their site in local and upload in their own hosting.

[2015-11-22 05:19] chipset95 commented on #100
@joariasl they would just need to add `JEKYLL_ENV=production` before the jekyll serve in their hosting.

[2015-11-22 22:04] #75 closed

[2015-11-22 22:18] #100 closed

[2015-11-22 22:26] PanosSakkos commented on #111
Shareaholic's buttons look cheap :yum:

And between RRSSB and Share for Bootstrap, RRSSB seems to be more active as a project :smile:

[2015-11-22 23:05] PanosSakkos commented on #111
I will give a try on RRSSB now :wink:

[2015-11-23 01:00] PanosSakkos opened #113 "Add tumblr share button"

[2015-11-23 01:00] PanosSakkos opened #114 "Add mailto share button"

[2015-11-23 01:07] #111 closed

[2015-11-23 01:08] PanosSakkos commented on #113
Fixed in 91cfe496aa35747b6afe98ba60b8f49e28814d96

[2015-11-23 01:08] #113 closed

[2015-11-23 01:08] PanosSakkos commented on #114
Fixed in 91cfe496aa35747b6afe98ba60b8f49e28814d96

[2015-11-23 01:08] #114 closed

[2015-11-23 01:37] PanosSakkos opened #115 "Remove col-xs-10 col-xs-offset-1 from post div"

[2015-11-23 01:37] #115 closed

[2015-11-23 09:34] PanosSakkos opened #116 "Add data-proofer-ignore in mailto share button and receiving address"
mailto without a receiving address was breaking the build.

The workaround is to ask htmlproofer to ignore this anchor by adding data-proofer-ignore.

[2015-11-23 09:35] #116 closed

[2015-11-23 18:30] PanosSakkos opened #117 "Add test script"
Which will serve-production and then run:

    htmlproof ./_site --disable-external --empty-alt-ignore

[2015-11-23 19:35] PanosSakkos opened #118 "Add current url in history, when navigating with swiping"
Currently while navigating by swiping, the history is not kept because the redirection is performed with javascript.

[2015-11-23 19:41] PanosSakkos opened #119 "Gesture navigation for very first and very last pages and posts is broken when baseurl is empty"

[2015-11-23 19:43] #119 closed

[2015-11-23 19:46] PanosSakkos opened #120 "Blog layout text is not selectable"

[2015-11-23 20:06] #118 closed

[2015-11-23 21:44] #120 closed

[2015-11-23 22:11] #117 closed

[2015-11-24 00:46] PanosSakkos opened #121 "Add pocket share button"

[2015-11-24 00:57] #121 closed

[2015-11-24 01:05] PanosSakkos commented on #64
@eiselems I think the [integration instructions](https://github.com/PanosSakkos/personal-jekyll-theme/wiki/Integrating-latest-bug-fixes-and-features-into-your-past-fork) are more clear now :smile:

[2015-11-24 01:05] #64 closed

[2015-11-24 11:21] eiselems opened #122 "Swipe Instruction can become covered by Share Buttons"
Bug: If post has less than about 4 paragraphs the swipe instruction is cover.

Reproduce: Remove a few lines in https://panossakkos.github.io/personal-jekyll-theme/tech/2015/06/27/welcome.html
Result:
![image](https://cloud.githubusercontent.com/assets/5188694/11365280/9e5c104e-92a5-11e5-876f-67c8082c356b.png)

[2015-11-24 11:28] eiselems commented on #122
I just tried to apply z-index:1 to <div id="swipe-instruction"> - seems to work like it should.
Can provide a fix later, just need to setup a saas environment.

[2015-11-24 12:23] eiselems commented on #122
Update:

realized i don't need to compile anything by myself :smile:

I only have no clue where to put that
[code]
Should we create a new scss file for blog related styles?
Or where should it be placed?

[2015-11-24 21:36] #122 closed

[2015-11-24 21:36] PanosSakkos commented on #122
Well spotted! :smile:

Check the fix commit to see the diff :wink:

[2015-11-26 10:40] eiselems opened #126 "Share Buttons' text outscales Buttons size for few buttons"
As seen in:
[![blob](https://files.gitter.im/PanosSakkos/personal-jekyll-theme/JP88/thumb/blob.png)](https://files.gitter.im/PanosSakkos/personal-jekyll-theme/JP88/blob)

The text gets to big on window sizes > 1600.

[2015-12-02 01:41] SimmerChan commented on #126
Hello, I forked your project and ran locally, but I encountered a problem as follows. I'm new to ruby and relative things. I searched on stack overflow but in vain. Could you please help me over this problem? THX.
![image](https://cloud.githubusercontent.com/assets/7333516/11519882/c78f2508-98d8-11e5-9627-8537f6b59fe9.png)

[2015-12-02 01:57] SimmerChan opened #128 "file to import not found or unreadable"
Hello, I forked your project and ran locally, but I encountered a problem as follows. I'm new to ruby and relative things. I searched  on stack overflow but in vain. Could you please help me over this problem? THX.
![image](https://cloud.githubusercontent.com/assets/7333516/11520106/0ede8942-98db-11e5-8483-a9cb338fdfec.png)

[2015-12-02 02:25] njaremko commented on #126
You should open an issue instead of polluting a different one. Also, first guess is that Chinese characters in your path are the problem.

[2015-12-02 03:01] SimmerChan commented on #126
THX! the characters are indeed the problem.

[2015-12-02 16:26] eiselems commented on #126
thx@njaremko :+1:

[2015-12-03 13:09] PanosSakkos commented on #128
Was answered [here](https://github.com/PanosSakkos/personal-jekyll-theme/issues/126)

[2015-12-03 13:09] #128 closed

[2016-01-02 18:03] portenez opened #129 "ruby based scripts under scripts dir don't work on linux (ubuntu)"
The current shebang is

[code]

which is not quite "compliant"

after changing it to

[code]

it works.

I'm using rvm.

[2016-01-04 08:40] soul-wish opened #130 "Broken keywords meta tag"
Hi! It seems like in `_config.yml` file you used `keywords` global variable for website/theme keywords meta tag. But in `_includes/head.html` file you used `site.keyword` reference. So, as the result we have empty keywords meta tag on all websites that were generated with this great Jekyll theme.
Screenshot:
![screen-before](https://cloud.githubusercontent.com/assets/1968098/12085901/a578d0ea-b2cd

[2016-01-06 19:41] njaremko commented on #129
there's nothing non-"compliant" about it. By specifying which ruby
executable to use, we prevent inevitable errors that would arise from using
non-standard ruby implementations. The env ruby setup just tells the script
to use the first occurrence of ruby in your path, there's no standard
requiring its use. It's more of a preference than anything.

On Sat, Jan 2, 2016 at 1:03 PM Victor Garcia <noti

[2016-01-06 20:59] portenez commented on #129
Yeah, I couldn't find the right word, so forget about the word "compliant".

The issue still remains: that the scripts do not work when using rvm in ubuntu, and that they're solved when using /usr/bin/env ruby. I can see the point of pointing directly to the ruby distribution under /usr/bin, but there's going to be the risk of it not being there. Like when using rvm.

[2016-01-06 22:27] njaremko commented on #129
Well, it's up to Panos in the end, but I think that the subset of ruby
users with rvm will know what to change in the scripts, or you can symlink
ruby if you want scripts such as these to always work.
On Wed, Jan 6, 2016 at 3:59 PM Victor Garcia <notifications@github.com>
wrote:

[2016-01-07 01:24] joariasl opened #132 "Support multiple categories and discovery"
Actually the cathegory folders are show 404 error page, a good implementation is show all posts from this category and include the link in the name showed in the posts list and page.
It is possible using the site.categories.CATEGORY variable...

[2016-01-09 11:44] PanosSakkos opened #133 "Add installation script"

[2016-01-09 11:45] #133 closed

[2016-01-09 11:48] #130 closed

[2016-01-09 12:41] PanosSakkos commented on #126
@eiselems Can't repro it locally :disappointed: Can you please describe the repro steps?

[2016-01-09 12:44] PanosSakkos opened #134 "min-height is the correct definition for not reduce the height if the parent size is less."
Reported by @joariasl

[2016-01-09 12:44] #134 closed

[2016-01-09 12:47] PanosSakkos commented on #132
We should definitely support multiple categories :)
And we should handle them like we we are handling the hashtags :smile:

Currently I'm swamped with daytime job and https://github.com/panossakkos/one-passwords, so feel free to jump on this feature if you feel like it :wink:

[2016-01-09 12:54] #129 closed

[2016-01-12 10:30] PanosSakkos opened #135 "Gtmetrix results"
A friend showed me this service and we got some reds.

https://gtmetrix.com/reports/panossakkos.github.io/fmRLBokk

Let's discuss it in order to track whatever we decide to take in under issues :smile:

[2016-01-12 13:14] njaremko commented on #135
I get an A on mine hahaha, gotta scale those images.
On Tue, Jan 12, 2016 at 5:30 AM Panos Sakkos <notifications@github.com>
wrote:

[2016-01-13 06:19] eiselems commented on #126
That problem only occurs if you use few share buttons (<= 3 or 4) - it worsens the higher the resolution of your viewport gets:

1. Access https://panossakkos.github.io/personal-jekyll-theme/tech/2015/06/27/welcome.html
2. Remove as much buttons until there are only 3 left using DOM Manipulation (e.g. Chrome Dev Tools) - for seeing it best let one of them be the facebook button (as it has a long t

[2016-01-13 06:27] eiselems commented on #126
If i remember correctly the reason for this behavior is that the text size depends on the viewport width and not on the container width as it should (but there is simply no css for that). The difference in size between container and viewport gets bigger as the viewport is growing (container has a fixed width of 1140px).

e.g.
1600px viewport:   1600px - 1140px = 460px
WQHD 2560px viewport:   2560p

[2016-01-13 08:08] zafartahirov opened #136 "Allow directories in the _posts"
The subdirectories could be treated as categories, and just added to the categories list, or as blog subtopics, or both.

[2016-01-13 08:45] zafartahirov opened #137 "Having double curly braces in the code brakes Jekyll"
In some languages double curly braces are normal. For example in C++ `A = {{1}};` declares a two dimensional array. However if put in `<code></code>` it breaks the build process. Probably need to put `{% raw %} ... {% endraw %}`

[2016-01-13 09:02] z-a-f opened #138 "Switch code highlight engine to pygments?"
Highlight.js might not the best highlighter choice because for codes with a lot of `<` and `>`, it requires manual escaping of the characters with `&lt;` and `&gt;`. For example try this piece of markdown:

[code]

[2016-01-13 13:00] PanosSakkos commented on #126
@eiselems yes I noticed that you had 4 buttons and I did the same.

But the repro is clear on your screenshot :smile:

Can you please post a screenshot with your fix applied? If you can do it then I can merge your PL without reproing it locally :wink:

Thanks!

[2016-01-13 15:18] eiselems commented on #126
Think we can forget about the PR :smile:
Just realized my PR in the RRSSB Repo was merged and is now in the master.

Think the best solution would just be to update the RRSSB files

see https://github.com/kni-labs/rrssb/pull/152

[2016-01-13 16:00] PanosSakkos commented on #126
Awesome! :clap:

[2016-01-16 20:51] PanosSakkos commented on #135
Awesome! :smile:

@njaremko shouldn't we document how to optimize the pictures? :smile:

[2016-01-16 20:54] PanosSakkos commented on #136
Supporting categories is tracked [here](https://github.com/PanosSakkos/personal-jekyll-theme/issues/132).
As far as I remember you can have subdirectories under the _posts directory and jekyll will parse every post recursively.

I'm closing this issue, feel free to re-open it in case I misunderstood something :smile:

[2016-01-16 20:55] #136 closed

[2016-01-16 20:55] PanosSakkos commented on #137
I will have a look at it now.

[2016-01-16 21:01] PanosSakkos commented on #137
The raw tags resolved it. I updated the documentation :wink:

[2016-01-16 21:01] #137 closed

[2016-01-16 21:06] PanosSakkos commented on #138
Good point.

I [asked](https://twitter.com/thepanoss/status/688467265164042240) them and I will update the issue here when they reply.

[2016-01-16 21:11] PanosSakkos commented on #126
@eiselems updating our rrssb css the [latest](https://raw.githubusercontent.com/kni-labs/rrssb/master/css/rrssb.css) should be enough, right?

[2016-01-17 11:13] soul-wish opened #139 "Page title meta tag"
Hi. Please, check the `<title>` meta tag on your theme (demo). It seems like it has empty space character at the very end of line (on the pages where only `{{site.title}}` is displayed).
Here is a screenshot:

![screen-before](https://cloud.githubusercontent.com/assets/1968098/12377182/6961d3d2-bd1c-11e5-9dad-71b666e83fb4.png)

I'm going to submit a PR with this small fix.

[2016-01-17 12:42] soul-wish opened #141 "Decide size of cursor in typed.js"
Hi. I hope we should increase a size of `typing cursor` in theme's `header` section. Here is my solution:
Now:
![screen-before](https://cloud.githubusercontent.com/assets/1968098/12377463/24dd458c-bd28-11e5-890f-1ddc63dc1db1.png)
After some css fixes:
![screen-after](https://cloud.githubusercontent.com/assets/1968098/12377467/46f02090-bd28-11e5-8435-6dbfcbdb88be.png)
What do you think?
PS. Also, p

[2016-01-17 15:18] njaremko commented on #141
The font size is fine on all my displays. Also, if you wanted to make the
text bigger, you should be using something like font-size:120% instead of
changing the font.
On Sun, Jan 17, 2016 at 7:42 AM Sergey Lysenko <notifications@github.com>
wrote:

[2016-01-17 15:21] njaremko commented on #135
It's really up to the user. I generally inspect the element on a full size display and check what size it's rendering at. Then use photoshop/gimp to resize using the best algorithm available. Then run ZopfliPNG on the pngs. Jpeg has a similar program I can't remember the name of, easy to google though.

[2016-01-17 15:24] njaremko commented on #139
Hahahaha, thanks for the fix 👍

[2016-01-17 18:36] soul-wish commented on #141
@njaremko really strange.. I checked demo site on latest Chrome, Safari, Opera and Firefox and have the same issue in all these browsers. Cursor is much smaller than quote text (typed text). I'm on OSX (maybe that is the reason). Also, I'm not sure if we should use font-size in percentage units - quote text has size in pixels - I just duplicated it for cursor (just made it a bit smaller - it looks

[2016-01-17 21:32] #139 closed

[2016-01-17 21:35] PanosSakkos commented on #141
I will mark it temporarily as a discussion, until I steal some time within the week (or worst case the weekend) in order to decide what we want and fix it :wink:

[2016-01-17 21:36] wvierber commented on #141
I got the cursor in small as well (Safari and Chrome on OSX).
However, in [my fork](http://smartrunningteam.github.io) of your theme, I don't have that issue. Not sure if/what I edited when I forked.

[2016-01-17 21:42] soul-wish commented on #141
@PanosSakkos sure! Take your time.
@wvierber you just set the same `font-size` for all the blocks/tags inside `.intro .intro-body` selector (line 214 in your grayscale.css) :wink:

[2016-01-18 07:12] eiselems commented on #126
@PanosSakkos the latest should be fine yes, but don't forget to update the rrssb.min.js as well

[2016-01-18 11:17] PanosSakkos commented on #126
@eiselems yes I will update both of them :+1:

[2016-01-23 01:40] jose-zama commented on #135
This is such a good and handy tool! A good one @PanosSakkos . I agree with @njaremko comments. Even more, there are probably several ways to scale and/or optimize images. And I am not 100% sure but maybe with CSS and media queries, different size images could be served depending on the view port size.

Anyway, the vanilla theme gets an "A", so I would suggest to close this issue. If the user chang

[2016-01-26 19:06] Karla-Isabel-Sandoval commented on #141
The cursor is also pretty small with Chrome Version 47.0.2526.111 (64-bit).

[2016-01-30 22:56] PanosSakkos commented on #135
@njaremko well the sample site gets an A thanks to you :wink:

Closing the discussion like @joariasl suggested :smile:

[2016-01-30 22:56] #135 closed

[2016-01-30 23:07] PanosSakkos commented on #126
@eiselems got the [latest](https://github.com/kni-labs/rrssb/releases/tag/1.9.2) release, which includes your fix :wink:

[2016-01-30 23:08] #126 closed

[2016-01-30 23:12] #141 closed

[2016-02-04 23:26] Karla-Isabel-Sandoval opened #143 "Which file does the timeline code go into?"
Hi all,

I would really appreciate your help.
After reading the 6-12-15 blog post, titled 'timeline tutorial', I could not find the name of the file where the tuple that is below must go into, to update the timeline with images and text.

<pre><code data-trim class="yaml">
events:
  - image: "/img/timeline/spidertocat.png"
    date: "September 2013 - Today"
    description: "Saving the neighborhoo

[2016-02-04 23:37] Karla-Isabel-Sandoval opened #144 "Fixing a typo for the CONTRIBUTING.md file"
Changing 'ressolved' to resolved on line 16.

[2016-02-05 00:29] Karla-Isabel-Sandoval commented on #143
It goes in the _config.yml file.
I should add that to the blog post, or the read.me/ any other documentation.

[2016-02-05 00:29] #143 closed

[2016-02-07 21:34] PanosSakkos commented on #144
I guess you wanted to open a Pull Request :wink:

[2016-02-07 21:34] #144 closed

[2016-02-09 11:33] joelmheim opened #146 "Error in generate-tags script"
generate-tags script fails when the tags field is present in a post without having any values. Seems like the value then will be interpreted as nil, and the each block will fail.

Will submit a pull request with the fix.

[2016-02-09 12:45] PanosSakkos commented on #146
Good catch! :+1:

[2016-02-16 20:13] #146 closed

[2016-02-18 20:27] dwendt commented on #138
imo why not switch to a more reliable highlighting engine like pygments

[2016-02-24 00:23] PanosSakkos opened #150 "Document Color Browser Elements"
Document .config variables in [Web App Mode](https://panossakkos.github.io/personal-jekyll-theme/tech/2015/06/22/web-app-mode.html) post.

[2016-02-24 00:24] PanosSakkos commented on #150
+ Bump major version (due to the .config changes), and document in the wiki page the upgrade how-to

[2016-03-05 14:55] PanosSakkos opened #152 "Emojis are broken"

[2016-03-05 14:56] #152 closed

[2016-03-05 15:22] PanosSakkos opened #153 "Markdown headers are broken"
We need to separate the # and the title with a space

[2016-03-05 15:24] #153 closed

[2016-03-05 15:28] PanosSakkos opened #154 "Ignore case-sensitivity in tag generation"

[2016-03-05 15:28] #154 closed

[2016-03-05 15:34] PanosSakkos opened #155 "Don't force https when running on localhost"

[2016-03-05 15:35] #155 closed

[2016-03-05 15:38] PanosSakkos opened #156 "Remove duplicate declaration of 404-img in .config"

[2016-03-05 15:39] #156 closed

[2016-03-05 16:21] #132 closed

[2016-03-05 16:34] bgoldman commented on #132
The feature I submitted which you merged isn't supporting multiple categories per post, only one category per post. What the feature does support is category links and pages. Are you sure you want to support multiple categories per post though?

[2016-03-05 17:15] PanosSakkos opened #157 "Clarify on homepage that latest blog post is latest and not just a blog"

[2016-03-05 17:16] #157 closed

[2016-03-05 17:17] PanosSakkos opened #158 "Serve in watch mode"

[2016-03-05 17:30] PanosSakkos commented on #132
yeah this is bad writing. By "multiple categories" I had in my mind exactly what you did :wink:

It doesn't make much sense to list a post under multiple categories, like you said :wink:

[2016-03-05 17:47] #158 closed

[2016-03-05 17:48] PanosSakkos opened #159 "Document post categories"

[2016-03-05 17:48] PanosSakkos opened #160 "Support author blurb"
Merge and document it https://github.com/bgoldman/bgoldman.github.io/commit/a093d8974c8fe6ac3848c8633f581589e8439bc0

[2016-03-06 17:53] alexeyknorre opened #161 "Liquid conflict error"
Hey there,

got version conflict of Liquid when running serve-production:

`alexey@ubuntu:~/Jekyll/personal-jekyll-theme$ ./scripts/serve-production`
`Configuration file: /home/alexey/Jekyll/personal-jekyll-theme/_config.yml`
`/usr/local/lib/site_ruby/1.9.1/rubygems/specification.rb:2288:in 'raise_if_conflicts':`
`Unable to activate jekyll-2.5.3, because liquid-3.0.6 conflicts with liquid (~> 2.6.

[2016-03-07 09:20] PanosSakkos opened #162 "Change disqus default to not use a real account"
Reported by @bgoldman

[2016-03-07 09:49] PanosSakkos commented on #161
Hi!

No I haven't seen it before. But I think it makes more sense to open the issue under the jekyll repo :wink:

[2016-03-08 09:40] PanosSakkos opened #163 "Update { Personal } entry in jekyllthemes.org"

[2016-03-10 14:49] doublepmanforthewin opened #165 "Social buttons out of place"
Once I get the site running, the social buttons jump out of place. See at https://doublepmanforthewin.github.io/

[2016-03-10 14:59] PanosSakkos commented on #165
Can you please post a screenshot?

I visited your page but the social buttons render as expected.

[2016-03-10 15:03] doublepmanforthewin commented on #165
![screen shot 2016-03-10 at 10 02 31 am](https://cloud.githubusercontent.com/assets/17711252/13673507/46a81964-e6a7-11e5-8af2-e10d45b7ac14.png)

[2016-03-10 16:44] PanosSakkos commented on #165
My bad, I looked at your share buttons in the post page, not the social buttons :smile:

In the demo page they are being rendered correctly. How old is your fork? Did you make any changes?

[2016-03-10 17:37] doublepmanforthewin commented on #165
This is a fresh fork, and the only change I've made to the original so far is updating the name, the URL, and changing the favicon....

[2016-03-10 18:08] PanosSakkos commented on #165
I see. Then I will double check if the demo site (gh-pages branch) is up to date with Master and I will come back to you :smile:

[2016-03-11 10:51] PanosSakkos commented on #165
The gh-pages branch is missing just one commit from master, which was a change in the travis configuration file, which cannot effect the social buttons :confused:

Can you please try to fork the repo again?

[2016-03-11 10:52] #161 closed

[2016-03-11 10:53] PanosSakkos commented on #138
@dwendt Thanks for the suggestion!

Can you pleas briefly list the benefits of pygments over the current solution?

[2016-03-11 14:18] doublepmanforthewin commented on #165
Tried to fork again twice, same results....

[2016-03-11 14:30] PanosSakkos commented on #165
Which client are you using to visit the website?

Do you see the same bug in the [demo](http://panossakkos.github.io/personal-jekyll-theme) site?

[2016-03-11 14:32] doublepmanforthewin commented on #165
Using the latest build of Chroe 64 for OS X (49.0.2623.87). I do not see the same bug in the demo.

[2016-03-11 14:42] PanosSakkos commented on #165
ok, then I will also push the [last commit](https://github.com/PanosSakkos/personal-jekyll-theme/commit/b49407e8998d2a8aa4a9106a5f9426d4755ee3ff) from master to gh-pages, even though I don't expect that it will make any difference

[2016-03-11 16:36] PanosSakkos commented on #165
After merging master with gh-pages I can see the regression...

[2016-03-11 17:12] doublepmanforthewin commented on #165
Intriguing. Now, the demo site shows similar issues....

<div>-------- Original message --------</div><div>From: Panos Sakkos <notifications@github.com> </div><div>Date:03/11/2016  11:36 AM  (GMT-05:00) </div><div>To: PanosSakkos/personal-jekyll-theme <personal-jekyll-theme@noreply.github.com> </div><div>Cc: doublepmanforthewin <tcluscian@gmail.com> </div><div>Subject: Re: [personal-jekyll-theme]

[2016-03-12 12:47] PanosSakkos commented on #165
Hi, I force updated the gh-pages branch from master, and now seems that the issue is resolved :smile:

Can you please confirm it?

Thanks!

[2016-03-13 02:44] doublepmanforthewin commented on #165
Confirmed! Thanks for your help– this is an awesome theme, and it's been an honor to contribute to its development. I'm planning to use it to build my own personal website, as well as using it for some of my clients. Starring _for sure_!

[2016-03-13 02:44] #165 closed

[2016-03-13 04:45] PanosSakkos commented on #165
Thank you for reporting it! :clap: :smile:

[2016-03-24 17:47] PanosSakkos commented on #162
It's a hassle to create a disqus account because they are asking for an email address. I will mark it as won't fix :smile:

[2016-03-24 17:47] #162 closed

[2016-03-24 21:09] #160 closed

[2016-03-24 21:13] #159 closed

[2016-03-24 21:16] #150 closed

[2016-03-24 22:06] PanosSakkos opened #166 "Document sass coloring"

[2016-03-24 22:09] #166 closed

[2016-03-24 22:12] PanosSakkos commented on #163
https://github.com/mattvh/jekyllthemes/pull/292

[2016-03-31 21:11] #163 closed

[2016-04-16 11:07] barisaydinoglu opened #168 "invisible social buttons"
The social buttons are invisible on Chrome.
Using the latest build of Chrome for OS X (50.0.2661.75).

There's no problem with Chrome+Windows or Safari+OSX.

Sample page: https://panossakkos.github.io

[2016-04-18 12:05] nethergrim opened #170 "Turning off swipe between posts?"
Hi!
I'm using this theme for my personal blog, and it's awesome.
But my users don't like that feature with "swipe to change blog post", because it prevents from selecting text, sometimes.
Is it possible to turn that feature off?
It would be awesome, thank you!

[2016-04-28 09:44] PanosSakkos commented on #170
Hi!

Definitely, imo every feature should be toggled in order to fit everybody's needs.

The toggle for swipe navigation just slipped my radar :smile:

[2016-04-28 09:45] PanosSakkos commented on #168
Hi!

Can you please post a repro screenshot?

I couldn't repro it.

Thanks!

[2016-04-29 09:06] marcoscaceres opened #171 "manifest density member is deprecated"
## Expected Behavior
The manifest.json file should not contain a density member.

## Actual Behavior
It contains density members.

## Steps to Reproduce the Issue

  1. open the manifest.json file

## Specifications
See
https://github.com/w3c/manifest/issues/450

[2016-04-29 22:10] barisaydinoglu commented on #168
Of course,

Chrome: ![chrome](https://cloud.githubusercontent.com/assets/900545/14930928/3ab95f46-0e70-11e6-9c5d-c4a1e4f97ddc.png)
Safari: ![safari](https://cloud.githubusercontent.com/assets/900545/14930925/36226964-0e70-11e6-8317-247e7611eeb2.png)

[2016-05-03 15:39] PanosSakkos commented on #171
Great! :clap: :clap:

[2016-05-03 15:39] #171 closed

[2016-05-03 15:41] PanosSakkos commented on #168
I'm on 50.0.2661.94 (64-bit) as well and I can see the social buttons.

Can you please fire up chrome's developer tools and see if there is an error logged during the loading of the page?

Thanks!

[2016-05-03 20:52] barisaydinoglu commented on #168
I've figured out the AdBlock extension blocks the social buttons.

[2016-05-04 11:31] PanosSakkos commented on #168
Great! :clap:

Did you report this bug at AdBlock? :wink:

[2016-05-04 11:31] #168 closed

[2016-05-11 15:31] BoltzmannBrain commented on #170
Hi any updates on this issue?

[2016-05-11 21:33] PanosSakkos commented on #170
No, the plan is to do it, but there is no date set for it yet 😅

[2016-05-28 21:36] mkasberg opened #175 "Post Preview HTML Strip Bug"
## Expected Behavior
Raw HTML tags should not be shown in the post preview.

## Actual Behavior
Raw HTML tags are shown in the post preview when the tag crosses the boundary of the post-preview-words. For example, an HTML tag is at words 59-61 and post-preview-words is set to 60.

## Steps to Reproduce the Issue

  1. Change `post-preview-words` to 60 in _config.yml
  2. Run `jekyll serve`, and se

[2016-05-29 23:05] #175 closed

[2016-06-02 15:42] eiselems commented on #170
@BoltzmannBrain temporally you could just delete https://github.com/PanosSakkos/personal-jekyll-theme/blob/master/_includes/js.html#L201-L270 those lines to remove the functionality altogether

Or you could just remove https://github.com/PanosSakkos/personal-jekyll-theme/blob/master/_includes/js.html#L232-L270 to just remove the popup but maintaining the ability to use swipe gestures.

HTH

@Panos

[2016-06-03 07:00] eiselems commented on #138
relevant: https://help.github.com/articles/using-syntax-highlighting-on-github-pages/

[2016-06-18 03:32] BoltzmannBrain opened #179 "How can I left-align the text of my blog posts?"
I'd like the post title to remain centered, but then the blog text to be left-aligned. Sorry this is a question and not an issue, but I think someone looking here will know the answer easily.

[2016-06-19 22:02] #170 closed

[2016-06-19 22:03] PanosSakkos commented on #179
Hi!

Can you please ask on the [gitter](https://gitter.im/PanosSakkos/personal-jekyll-theme) channel?

You will get an answer much quicker than asking here 😉

[2016-06-19 22:03] #179 closed

[2016-07-12 22:38] PanosSakkos opened #181 "Support short title for web app mode"
## Expected Behavior

Support a short version of the title in order to avoid getting it trimmed when pinned to a mobile homescreen.

## Actual Behavior

If the site title is long then it will get trimmed when the { Personal } website is pinned to the home screen.

## Steps to Reproduce the Issue

  1. Set the title to "{ Panos Sakkos }"
  2. Open the website from mobile Safari
  3. Add the website

[2016-07-12 22:46] #181 closed

[2016-07-14 21:09] BoltzmannBrain opened #182 "What's the best way to add a single page?"
I would like to add a single html file as a standalone page -- not linked in the top menu bar, but linked in the About section. What is the best way to do this? My intent is to use this html file as a resume.

[2016-07-14 21:46] PanosSakkos commented on #182
Hi @BoltzmannBrain,

I'm redirecting the questions to the [gitter channel](https://gitter.im/PanosSakkos/personal-jekyll-theme) in order to keep the issues here clear and in order for the question to be answered more quickly 😉

[2016-07-14 21:46] #182 closed

[2016-07-14 21:55] BoltzmannBrain commented on #182
Sorry, I'll keep my questions to the gitter channel from now on, thanks!

[2016-07-14 22:32] PanosSakkos commented on #182
No worries!

Actually it was my fault.
I [updated](https://github.com/PanosSakkos/personal-jekyll-theme/blob/master/.github/ISSUE_TEMPLATE.md) the issue template in order to notify the poster before opening the issue 👍

Cheers,
:panos

[2016-07-17 19:12] legolasNg opened #183 "i don't know what's wrong with my gh-pages"
i just follow what the tutorial writes.i modify the `_config.yml` as what i want.
but error occured when i accessed to my github pages.
only some words left-- "--- layout: index section-type: index sitemap: priority: 1.0 ---"
i don't know what happened, so ask for you help.

[2016-07-17 19:57] PanosSakkos commented on #183
Hello @legolasNg,

as the issue template states:

I'm closing the issue and please ask your question in the gitter channel 😄

[2016-07-17 19:57] #183 closed

[2016-07-17 20:27] PanosSakkos commented on #183
By the way I noticed that you haven't renamed your [repository](https://github.com/legolasNg/personal-jekyll-theme).

You should rename it to legolasNg.github.io 😄

[2016-08-05 04:57] ppmeng opened #186 "Liquid Warning: Liquid syntax error (line 21): Expected id but found number in "{{ site.404-img }}" in /Users/wjl/mywork/jekyll/_layouts/error.html"
## Questions

After run "jekyll serve", the output have a warning:
Liquid Warning: Liquid syntax error (line 21): Expected id but found number in "{{ site.404-img }}" in /Users/wjl/mywork/jekyll/_layouts/error.html

I haven't change the error.html and have no idea why it happen

then I modify 404-img of_config.yml from "404-img" to "404_img" and  modify "{{ site.404-img}}" also, the warn disapper

[2016-08-13 20:53] djcaesar9114 commented on #138
Actually I asked myself the same question. I don't know if you noticed, but in the present form of {{personal}}, a blank line is added everytime you highlight a code.
I transformed every `<pre><code>` into `{% highlight bash %}`.
I'll try and make a branch on my fork to make a pull request here, so that you can see the changes.
It will be a good training for me :)

[2016-08-14 15:21] djcaesar9114 commented on #186
You haven't modify anything from the original code and yet got this error?

[2016-08-15 07:42] djcaesar9114 opened #189 "Site not working offline"
## Questions

When I deploy the website on a machine not connected to the internet, or when I want to work offline on the website, some things don't work, as bootstrap.
## Expected Behavior

I'd like to be able to see the same result on an offline machine as on a connected one.
Why not include a minified bootstrap in the repo?
## Actual Behavior

Element misplaced in the navigator.
## Steps to Rep

[2016-08-22 21:30] djcaesar9114 opened #193 "Images resizing not correct"
## Questions
## Expected Behavior

When I put images in the timeline, I'd like to see them resized to fit the circles.
## Actual Behavior

If the images are not sized well enough, you see ellipsoidal images too much inside the circles or too much outside.
## Steps to Reproduce the Issue
1. Put new images in the `/img/timeline/` folder
2. Change `_config.yml`
3. `jekyll serve`
4. Display the timeli

[2016-08-23 06:24] acoravos commented on #186
I'm also getting the same error. Curious if anyone has found a solution for this?

[2016-08-23 07:16] djcaesar9114 commented on #186
Again: what is your configuration and did you make any change in the code?

[2016-08-23 07:22] acoravos commented on #186
I made changes to the `_config.yml` file. You can see all the changes here: https://github.com/codehbs/codehbs-official-homepage/blob/master/_config.yml

I didn't make any edits to the 404.html page.

[2016-08-23 16:41] djcaesar9114 commented on #186
What do `jekyll --version` and `ruby --version` give you in the terminal?
I think you may have an old version of some component and Liquid doesn't work well. On my computer the link you gave works perfectly and now I'm aware MBAs can code!

[2016-08-23 18:45] djcaesar9114 commented on #193
I've got two ways to solve this issue:
1. The easy one: modifying the CSS so that the image fits whatever the original dimensions are. You can set the images of the timeline with these properties:
[code]
2. Creating a "generate timeline images" script which resizes the images correctly, why not creating new images, "image.png" giving "timeline_image.png".

I'll work on this issue, so I'm open to a

[2016-08-25 06:05] acoravos commented on #186
My ruby version is 2.2.1 and jekyll 3.2.1.

The site also works well on the front-end / deployed, but curious why I'm seeing that error on the server side. We are going to make the website "open-source" so beginner coders can make a PR and propose changes to the site. I wanted to clean up as much on the server side as possible so newer people don't get confused when they fork/clone it locally. Any

[2016-08-25 09:05] djcaesar9114 commented on #186
Try to upgrade ruby. I have `ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]` and everything looks fine to me, I don't have any serer-side error.

[2016-08-26 00:25] acoravos commented on #186
Hm, strange. I upgraded ruby, and I still get the server side error when running `jekyll serve`. Everything looks fine on the client side, but was hoping to clean up all errors. It's not a big deal, more curious why it's happening.
<img width="708" alt="screenshot 2016-08-25 17 24 08" src="https://cloud.githubusercontent.com/assets/10575172/17990256/d90ee204-6ae8-11e6-9e99-dfe3aabaacd0.png">

[2016-10-16 22:32] PanosSakkos commented on #186
Hi @ppmeng, why did you close the bug? Did you figure out what was wrong?

[2016-10-16 22:33] PanosSakkos commented on #186
@acoravos seems like the 404 number is causing the warning. A rename on the variable should resolve that warning. Would you like to give it a try and rename the config variable?

[2016-10-16 22:37] PanosSakkos commented on #193
The images should be square in order to be rendered correctly, but I like that you're trying to tackle that problem. Did you come up with a good enough solution?

[2016-10-16 22:43] PanosSakkos commented on #189
The reason that bootstrap (i.e.) is served from the cdn is that @joariasl believed that it's more efficient than serving the minified versions from the { Personal } server. Personally I would be interested into running a few tests with and without the cdn and comparing those before making a decision on it 😄

[2016-10-17 10:42] acoravos commented on #186
Thanks @PanosSakkos -- which variable in which file would you recommend that I change?

[2016-10-17 21:25] djcaesar9114 commented on #186
@acoravos : I created a fix. I let the owners of the repo to check it.

[2016-11-06 03:08] kastoestoramadus opened #203 "Moving page by page do not work with zoom"
## Expected Behaviour
Web browser on any DPI should scroll correctly, page by page.

## Actual Behaviour
Page scrolling with zoom in on web browser is broken. Page jumps in the part of the next section.

## Steps to Reproduce the Issue

  1. Make zoom on web browser at 150%
  2. Press space bar or PdDn
  3. Watch and repeat

[2017-01-28 15:24] #186 closed

[2017-01-28 17:31] kwotsin opened #204 "How do I change the markdown conversion?"
First of all, I must say this is a really fantastic theme. However, would it be possible to change the markdown conversion for greater customization? One thing I've noticed is when I write keywords using backticks, for instance, `apples`, the keywords would appear very bright in contrast to the background and with a pink font. I have combed the source code for this theme but have found nothing rel

[2017-01-28 17:35] kwotsin opened #205 "Disabling swiping left and right to change posts when on Desktop?"
I find the swiping of the posts left and right really cool, especially with its popups to remind readers on mobile. However, when I highlight the texts on my posts too fast, it sometimes get mistaken as a swipe and changes the post. Is there a way to disable this function on a desktop/laptop environment?

Thank you so much! :+1:

[2017-02-01 18:50] joariasl opened #206 "Option for configure main picture from social networks profile images"
## Expected Behavior
Integration for configure the main picture from social networks profile images.

## Actual Behavior
Only local file picture is implemented.

## Steps to Reproduce the Issue
Inclution for:
  1. LinkedIn
  2. Facebook
  3. Twitter
  3. Gravatar

[2017-02-02 08:35] PanosSakkos commented on #206
Excellent idea! 👏

[2017-05-30 15:51] joariasl opened #212 "Install Git LFS for binary files"
## Expected Behavior
Using Git LFS for track binary files as images and the Web assets.

## Actual Behavior
All large files are commits in the git repository, when those files are replaced, those are cloned and increase the repository size. With Git LFS those files are gets from a remote repository. GitHub support this function for this repository.
More details: https://git-lfs.github.com/

## Spe

[2017-06-25 12:48] siboehm opened #213 "Blog post tags are case sensitive"
When using tags in a blog post, the tag has to be all lowercase or it will result in broken links.

## To reproduce
1. Create a new blog post, set `tags: ['CamelCase']`.
2. Run the script to create the tag-subpages: `./scripts/generate-tags`.
3. Now the link on the tag will point to `/tags/CamelCase.html`, but the subpage created is located at `/tags/camelcase.html` so you will get the 404 page.

[2017-07-03 04:20] eiselems commented on #206
Was implemented and merged

[2017-07-03 04:20] #206 closed

[2017-07-03 04:31] eiselems commented on #213
Maybe it is better to discuss the issue here and not in the PR.

The result of this is that there can be multiple tags like 'tutorials' 'Tutorials' 'TuTorials'. I wouldn't mind to have lower-case only tags - so I think we could adjust the link generation inside the pages to create the correct lowercase links.

The only downside  would be having no tags with proper uppercased letters.
@PanosSakkos

[2017-07-03 05:04] joariasl commented on #213
It's more efficient using a JavaScript validation before return the 404 error code, but only for the tags path.

[2017-07-04 08:00] siboehm commented on #213
@joariasl What do you mean by JavaScript validation?

@eiselems I agree, having all tag-pages lowercase makes more sense and is less confusing. For posts, the tags are displayed in all uppercase anyway, so you wouldn't see the difference between different 'versions' of the same tag.

I will amend the pull request.

[2017-07-04 15:49] joariasl commented on #213
@siboehm I meant to check the URL path in the request from JavaScript for redirect to lowercase.

[2017-07-08 20:08] eiselems commented on #213
Wasn't aware that everything is in uppercase anyway.
I just would suggest to create the link hrefs in lowercase letters and also generate lowercase pages for the tags.

[2017-07-08 20:11] #213 closed

[2017-08-03 13:54] dotps1 commented on #204
I defiantly agree with the back tick issue, the bright contrast is not pleasing to the eye.  And i also was not able to find anywhere in the code where this is set.  the only thing i can think of is maybe its in this css:

[code]

But it would be nice to change that color.

thanks.

[2017-08-03 13:57] dotps1 opened #215 "Clicking on a social icon leaves it highlighted."
## Questions

Should the social icon stay highlighted after it is clicked

## Expected Behavior

The icon would not be highlighted after it is clicked

## Actual Behavior

the social icon stays highlighted after it is clicked

## Steps to Reproduce the Issue

  1.  Go to site
  2.  Go to 'Contact'
  3.  Click any social icon

## Specifications

Downloaded the source code on 20170801, so not sure t

[2017-08-04 02:21] dotps1 opened #216 "Add static text to prefix typed text."
## Questions

I would like to prefix my typed text so it looks static, like im entering a command in the shell.  My site is targeted at PowerShell, so my typed text is powershell commands, it would be cool to have a static `PS C:\> ` so it looked like the text was typed at a shell prompt.

https://dotps1.github.io

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Issue

  1.
  2

[2017-08-04 16:14] dotps1 commented on #204
well, that at least sent me down the right track, but it was actually very easy to do, just add the class to the grayscale.css:
[code]
you can see an example here:
https://dotps1.github.io/sccm,/server,/nano,/winpe/2016/11/12/deploying-dynamic-server-nano-images-with-sccm.html

[2017-08-05 15:40] dotps1 commented on #204
actually, better yet, following along with how well this theme is made, do it like this:

/_sass/_variables.scss
[code]

/css/grayscale.scss
[code]

That way all of the color values are still supplied in the _variables.scss file.

[2017-08-10 11:57] dotps1 opened #218 "Highlight codeblocks"
## Questions

code block in closed in triple back ticks can not be highlighted, this is not a good feature, as it most likely will be copy and pasted by the reader.

## Expected Behavior
should be able to highlight and copy and paste code from withing code blocks.

## Actual Behavior
this cannot be done.

## Steps to Reproduce the Issue

  1.
  2.
  3.

## Specifications

(The version of the proje

[2017-08-17 18:48] joariasl opened #219 "Public Docker image for use Personal-jekyll-theme"
## Expected Behavior
A Docker image for develop and deploy Personal-jekyll-theme without require install tools in the system.

## Actual Behavior
Installation of tools are required for develop and deploy Personal-jekyll-theme. This cause problems when any version of tool required or installed in the system is deprecated, updated or not supported.

## Specifications
* Create or document the use of

[2017-08-18 12:42] le4ker commented on #219
That's an awesome idea! 👍

[2017-08-18 19:51] siboehm opened #220 "Link in Repo Header doesn't work any more"
@le4ker You changed your name but forgot to change the link to the static github page in the repo header, it still links to panossakos.github.io instead of le4ker.github.io which doesn't work anymore.

[2017-08-19 07:37] sdrshnptl opened #221 "Demo site not online."
Site preview isn't available. please fix

[2017-08-19 11:18] le4ker commented on #219
I deployed { Personal } on a dedicated vanilla machine with Ubuntu and as far as remember I needed Apache, ruby with the { Personal } dependencies and ftp :smile:

[2017-08-19 11:42] le4ker commented on #221
Fixed :+1: thanks for reporting it!

[2017-08-19 11:42] #221 closed

[2017-08-19 11:43] le4ker commented on #220
Fixed :+1: thanks for reporting it!

[2017-08-19 15:29] siboehm commented on #220
The Repo Description still has the wrong link

[2017-08-21 03:53] joariasl commented on #219
I am an expert in Docker and tools, so I will contribute some time to close this issue in a few more days. 😄

[2017-08-23 07:04] eiselems commented on #219
This so much, think this is a real hurdle to pass if you want to contribute.
Just make sure it is well documented in the Readme.

[2017-08-24 01:46] le4ker opened #222 "Minimize output html"
Let's add a gem to minimize the output html so we can improve our loading times 😄 🚀

[2017-08-24 01:47] le4ker opened #223 "Combine output css files into one"
Let's combine all the css files into one so we can reduce the https requests that we are making and improve our overall performance 🚀

[2017-08-24 01:48] le4ker opened #224 "Combine output javascript files into one"
Let's combine all the javascript files into one so we can reduce the https requests that we are making and improve our overall performance 🚀 😄

[2017-08-26 21:49] eiselems commented on #220
![bildschirmfoto 2017-08-26 um 23 47 04](https://user-images.githubusercontent.com/5188694/29745369-23adab7e-8ab9-11e7-8573-98f9c6db9395.png)

[2017-09-01 21:24] joariasl commented on #220
@le4ker it's not fixed yet!

[2017-09-01 21:27] joariasl commented on #220
The same problem is in all old content:

1. Example images in the README.md.
2. Link in promotional Web Pages. (http://jekyllthemes.org/themes/personal/)
3. Setup documentation for example: https://le4ker.github.io/personal-jekyll-theme/tech/2015/06/25/initial-setup.html

[2017-09-27 20:49] aditya81070 opened #225 "Added designed.html"
I tried to add an html file  named designed.html after copying this repo to my personal repo aditya81070.github.io.
It displays all the content of html file  but it is not detecting images from my repository.
please help me in this matter.
I am a rookie in field of web developing and know only basic html.

[2017-10-02 01:37] le4ker commented on #225
Hello @aditya81070 , please ask your question on our [gitter](https://gitter.im/PanosSakkos/personal-jekyll-theme) 😄

[2017-10-02 01:37] #225 closed

[2017-10-02 01:46] le4ker commented on #220
Good catches everyone! I fixed the references that you mentioned and I opened a [PR](https://github.com/mattvh/jekyllthemes/pull/530) on jekyll themes.

[2018-02-02 12:30] cdrrazan commented on #218
Which codeblocking syntax or component will help for this theme? :-1:

[2018-02-07 15:35] HimanshuChandolaa opened #231 "How to use this theme in Hosting sites ?"
Sir i have bought paid hosting for 1 year... I uploaded all files in public html folder but when i am refreshing website nothing is shown up....... How to use this theme in cpanel based web hosting ?

[2018-03-12 04:54] joariasl commented on #219
Command for run with Docker:
`docker run --rm -it -p 4000:4000 -v "$PWD:/srv/jekyll" jekyll/jekyll /bin/bash -c 'PATH=$PATH:/srv/jekyll/scripts; /bin/bash'`

[2018-03-12 06:00] #219 closed

[2018-03-15 13:26] le4ker commented on #219
@joariasl can you create a docker-compose file with this commands? 😄

[2018-03-15 13:40] joariasl commented on #219
It's done few days ago: 712f71c7e5255db86f3a4f2c65dac0a98ba429c8

:)

[2018-03-15 13:53] eiselems commented on #219
@joariasl just used it with docker compose - works really like a charm. Great work there!

[2018-03-16 07:56] le4ker commented on #219
Great stuff! 😄 👏

[2018-03-22 07:32] ThomasVdBerge commented on #231
You'll have to build it and upload the builded files

[2018-03-26 05:13] eiselems commented on #231
1. You have to use one of the ways to generate your sites (locally, our using docker / docker-compose).
2. When you have done that you just have to upload the /_site folder to your public html folder. It contains an index.html and every other generated asset.

[2018-03-26 05:14] #231 closed

[2018-03-26 05:14] #220 closed

[2018-03-26 05:53] eiselems commented on #216
I would have provided a fix but yet I am not very happy with the look of the outcome because of css.
It does not look like a proper shell.
Maybe https://github.com/le4ker/personal-jekyll-theme/compare/master...eiselems:staticTyped can help you with a quick and dirty fix to get you started.

[2018-06-10 09:07] Ken4scholars opened #233 "Generate intermediate blog collection pages for year, month and date"
## Questions
It would be great if individual pages could be generated for each day, month and year with blog posts.
For example, if I wrote a blog post on June 1, 2018, the url will be `http://<base_url>/<category>/2018/06/01/<slug>`. It would be great if readers could navigate to `http://<base_url>/<category>/2018/06/01` and get the list of posts for June 1, 2018 and navigate to `http://<base_url

[2018-06-18 05:40] eiselems commented on #233
Hi @Ken4scholars,

I had a quick look at it. Sadly I am pretty sure that it is not that easy.
Especially since I guess this is a Jekyll feature and not a feature of this theme.

We could add a plugin for it but it will not work on github then.
Maybe you could move your feature request over to [https://github.com/jekyll/jekyll](https://github.com/jekyll/jekyll)?

I am really pro against adding plug

[2018-06-19 07:36] Ken4scholars commented on #233
Hello @eiselems. Thanks for the reply. I actually took a look at it myself later on and saw that it isn't an easy task too and shouldn't be confined to the theme as it is more of a generic problem for Jekyll itself. And you're are right about adding plugins, they don't play well with Github pages unless they are supported. I'm using one myself and I always have to build the static pages before dep

[2018-06-25 19:12] eiselems commented on #233
Seems there is not much going on inside the jekyll gitter. Maybe it would be the best if you report it directly to jekyll instead. See; https://github.com/jekyll/jekyll

[2018-06-25 19:12] #233 closed

[2018-08-09 02:35] haniMerzouki opened #234 "Disqus comment block not showing up on production"
## Disqus comment block not showing up on production

The Disqus comments block works fine when running locally, but is not showing up when deploying to GitHub pages.

## Expected Behavior

expected a nice comments sections

## Actual Behavior

no comment section, instead the following message is displayed

*We were unable to load Disqus. If you are a moderator please see our troubleshooting guide

[2018-08-28 13:29] le4ker commented on #234
@eiselems can you please try to repro this? I don't remember any change in this area, so it should be working without any issues 🤔

[2018-08-29 17:48] eiselems commented on #234
I also don't remember doing anything there but lets have a look later.
But for reproduction, I can see it happening here:
https://le4ker.github.io/personal-jekyll-theme/tech/2015/06/27/welcome.html

Maybe it was even a change on their side

[2018-08-29 20:12] eiselems commented on #234
@le4ker could you maybe check on the settings of your disqus if you forgot to update the "site URL" after changing your username? Think it used to be https://panossakos.github.io/personal-jekyll-theme/ and now should be https://le4ker.github.io/personal-jekyll-theme/

Would be great, easiest way to test it properly. (Easier than creating a fork and then creating a disqus account for it). But I cou

[2018-08-30 10:58] le4ker commented on #234
That's a good point. I'll take a look at it! 😄 Thanks Marcus!

[2018-09-07 05:27] eiselems commented on #234
Just let me know when you tested it, in case this is also on master I could have a better look with a fork /new disqus account

[2018-09-07 07:47] le4ker commented on #234
I haven't managed to test it yet 😓

Do you want to create a disqus account and replace my own with it?

[2018-09-08 20:42] eiselems commented on #234
Just realized with my github account it is not really possible to test because I can not properly create github pages for projects anymore. I added a CNAME to my main github pages repo (eiselems.github.io) and it is linking to my own domain. Now everything is linking to a subpath on that domain which is then hitting the eiselems.github.io repo's content and getting a 404.
e.g. https://eiselems.git

[2018-09-08 21:02] eiselems commented on #234
Update for me it works even with latest master, seems to be either a mis-setup in @haniMerzouki's case.

See it here:
https://www.marcuseisele.com/personal-jekyll-theme/tech/2015/06/27/welcome.html

Steps to make it work:
1. Verify disqus settings
<img width="1178" alt="bildschirmfoto 2018-09-08 um 22 56 03" src="https://user-images.githubusercontent.com/5188694/45258624-eb6edb80-b3ba-11e8-81f1-a5

[2018-10-26 14:22] BoltzmannBrain opened #236 "How to use Particle.js for landing wallpaper image"
How could one set the wallpaper to be [https://vincentgarreau.com/particles.js/](particle.js) background instead of a static image?

[2019-07-26 18:23] stephenajulu opened #237 "Baseurl issue"
Hey, how are you?
I followed your guide, i needed a personal website. Your theme suit it and so i used it.
But now i am having an issue with the baseurl.
I set my baseurl to my repo name
but now it repeats the url eg
the repo name is stephenajulu.github.io
baseurl stephenajulu.github.io
the official url when i visit a blog post becomes https://stephenajulu.github.io/stephenajulu.github.io/2018/07.

[2019-07-27 07:08] stephenajulu commented on #237
I found the solution just leaving it blank

[2019-07-27 07:08] #237 closed

[2019-07-28 19:59] stephenajulu opened #238 "I need help adding a portfolio page"
## Questions

Hey how are you? I have been trying to add a portfolio section to my page but to no avail. I am a noob and just starting to learn about jekyll and liquid tags. So far so good i have been able to add and remove a few things. But now i need a portfolio section in the page. Where i can display my 3 latest works. just after or before the timeline.

You can view the site [here](https://st

[2019-07-31 22:19] joariasl commented on #238
Hi.
First, you need to declare the existence of the page in the wanted position in the line https://github.com/le4ker/personal-jekyll-theme/blob/bbe99000ceb9f9fc96a0576792c92596971690f0/_config.yml#L198
This will be add the include of the page files from the declaration https://github.com/le4ker/personal-jekyll-theme/blob/bbe99000ceb9f9fc96a0576792c92596971690f0/_layouts/index.html#L15
(`site.page

[2019-08-01 07:16] stephenajulu commented on #238
Thank you very much. I will update you on the progress.

[2019-08-01 17:35] stephenajulu commented on #238
it didnt work @joariasl
kindly take a look and advise me: [Portfolio include](https://github.com/stephenajulu/stephenajulu.github.io/blob/master/_includes/portfolio.html)

[2019-08-01 17:58] joariasl commented on #238
You have bad syntaxis, you have to make your `_includes/portfolio.html` like the `_includes/about.html` file.

[2019-08-01 18:02] stephenajulu commented on #238
[The problem is here](https://github.com/stephenajulu/stephenajulu.github.io/blob/master/_includes/portfolio.html)
I need help. I want it to appear in the home page in a cleaner style. This is how the portfolio section looks like. Had to resize one of the pics. But that's not what i want. I want it to be automatically resized in the homepage portfolio section but in 1080p in the page itself. I ser

[2019-08-01 18:03] stephenajulu commented on #238
@joariasl Your help will be appreciated.

[2019-08-01 19:38] joariasl commented on #238
You have to remove the global `a` element and make your own CSS rules according to the site style, removing the `panel*` classes in your divs.

[2019-08-02 07:21] stephenajulu commented on #238
thank you

[2019-08-02 07:21] #238 closed

[2019-08-02 21:09] #234 closed

[2019-08-02 21:09] eiselems commented on #234
Couldn't reproduce the issue / we fixed it for the repository here

[2020-01-04 11:49] KoenBal opened #239 "resizing should be avoided when using dynamic-typing with multiple lines"
When you add the following line:

[code]
The mobile view or narrow view will start resizing the background image each time the next line is being typed or removed.

## Expected Behavior
Move the dynamic typing up, such that the background image is not resized.

## Steps to Reproduce the Issue

Add a multi-line dynamic-typed text.

[2020-05-06 06:41] joariasl opened #240 "Links to cross-origin destinations are unsafe"
## Expected Behavior
Add `rel="noopener"` or `rel="noreferrer"` to any external links to improve performance and prevent security vulnerabilities.

## Actual Behavior
It does not exists `rel` for links in the timeline.

## Steps to Reproduce the Issue

  1. Run Lighthouse in Chrome or see manually and check the Best practices result

## Specifications
https://web.dev/external-anchors-use-rel-noope

[2020-07-14 07:03] eiselems opened #244 "Example Github Pages site is served not from the master branch"
Do you think we should switch it @le4ker?

In the past we often forgot to update the gh-pages branch.

[2020-08-02 00:18] lh1008 opened #245 "GitHub Pages failed to build your site."
## Questions

Please ask your questions at the [gitter channel](https://gitter.im/PanosSakkos/personal-jekyll-theme).
That way the issues here are kept clean and you will get an answer to your question quicker :smile:

## Expected Behavior

## Actual Behavior

Got this error:

A file was included in /_layouts/index.html that is a symlink or does not exist in your _includes directory.

## Steps to

[2020-08-02 09:24] eiselems commented on #245
Could you please give the steps to reproduce?

Guess it is;

Forking and publishing. I will try it for myself in the upcoming days. Did you change anything else to encounter the issue?

[2022-01-05 03:37] axiezai opened #246 "Empty archives and blogs list page"
I am moving a few posts from minima to this theme, I did a `./scripts/serve-production` to take a look at the site locally, everything looks great and updated except the archives page for the blogs.

I followed the README instructions to build tags and categories, my posts get listed if I press the individual tags, however, when I go to the archives page, the page is empty.

## Expected Behavior
T

[2022-01-05 16:49] axiezai commented on #246
The only thing from `_config.yml` that I feel could potentially be causing the problem is:

[code]

But not sure exactly where to look or what other information to provide.

[2022-01-06 18:59] axiezai commented on #246
Turns out this is solved by adding
[code]
to the `_config.dev.yml` file.

The missing plugin had a deprecation message when I did `serve-production`, which I thought I can ignore since `jekyll-paginate` is included in the `_config.yml` file. Documenting this for future users.

[2022-01-06 18:59] #246 closed